.header {
  position: relative;
  background: var(--color-scheme-2-background);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 16px 20px;
}

.logo {
  display: block;
  text-decoration: none;
  color: inherit;
}

.logoMark {
  width: 129px;
  height: 36px;
}

@media (min-width: 768px) {
  .inner {
    width: 100%;
    max-width: 768px;
    padding: 16px 32px;
  }
}

@media (min-width: 1440px) {
  .inner {
    width: 100%;
    max-width: 1440px;
    padding: 16px 64px;
  }

  .logoMark {
    width: 129px;
    height: 36px;
  }
}
