.button {
  position: fixed;
  right: 48px;
  bottom: 48px;

  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;
  background: #cc6534;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: opacity 250ms ease, visibility 250ms ease, transform 250ms ease;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
