.ratingCustom {
  margin-top: 33px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 12px 0 12px 0;
  color: var(--color-coral-darkest);
  line-height: 1.1;
  max-width: 533px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: var(--color-coral-darkest);
}

.label {
  font-weight: bold;
  color: var(--color-coral-darkest);
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
}

.authorLink {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-coral-darkest);
}

.authorLink:hover {
  color: var(--color-coral);
}

@media (min-width: 768px) {
  .title {
    font-size: 34px;
    margin: 12px 0;
  }

  .detailsList {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .section {
    flex: 1;
    margin: auto;
  }

  .title {
    font-size: 38px;
    margin: 12px 0;
  }
}
