.section {
  padding: 24px 16px;
}

.rating {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .section {
    padding: 32px 24px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 40px;
  }
}
