.locationDetailsPage {
  padding-top: 32px;
  padding-bottom: 64px;
}

.detailColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 865px;
  margin-inline: auto;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .detailColumn {
    gap: 32px;
    padding-top: 32px;
  }
}

@media (min-width: 1440px) {
  .locationDetailsPage {
    padding-top: 48px;
    padding-bottom: 72px;
  }

  .detailColumn {
    gap: 40px;
    padding-top: 40px;
  }
}
